<!-- Authors: Eric Sakmyster and Merron Tecleab -->
<!-- One way Data Binding: View To Component -->
<button class = "btn btn-primary" (click) = "getInfo()">What is this page for?</button>
<div *ngFor="let invite of invites; let i=index" class="card text-center" id="{{invite.invite_id}}" [style.border]="border_style" [style.padding]="padding_style" [style.margin-top] ="margin_top_style">
    <div class="card-body">
        <!-- One way Data Binding: Component to view {{}} -->
        <h5 class="card-title">{{invite.gender}} {{invite.sport}}</h5>
        <p class="card-text">@{{invite.location}}</p>
        <p class="card-text">{{invite.time}} {{invite.date}}</p>
        <p class="card-text">{{invite.description}}</p>  
        <div *ngFor="let username of usernames[i]">
            <div *ngIf = "username == 0" class='alert alert-primary' role='alert'>No Accepted Invites</div>
            <p *ngIf = "username" class="card-text">Accepted User ID: {{username.user_id}}</p>
        </div>
    </div>  
</div>